:root {
  --primary-color: #B8860B;
  --secondary-color: #333333;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267B2;
  --google-color: #DB4437;
  --twitter-color: #1DA1F2;
  --insta-color: #E1306C;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*{
  margin: 0px;
  padding: 0px;
}
html {
  background-blend-mode:overlay;
  align-items:center;
  justify-content:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
}
.body{
  -webkit-text-size-adjust: none;
}
.row-for-buttons{
  flex-flow: row nowrap;
}
/*Задний фон*/
.page{
  font-family: 'Exo';
}
.area{
  background: #FFFFF0;  
  background: -webkit-linear-gradient(to left, #333333, #635929);  
  width: 100%;
  height:auto;
}

/*форма входа*/
#form-enter {
  border: 2px solid #666666;
  border-radius: 5px;
}

/* Full-width inputs */
.login,
.password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.enterbtn {
  background-color: #c0ac4a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.enterbtn:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0; 
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);  /*Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
  height: auto;
}



/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


/*Кнопка входа*/
.col-2 {
  margin-top:30px;
  margin-left: 60%;
  height: 80%;
}

.col-1 {
  margin-top:30px;
  left: 20px;
  height: 80%;
}
div[class*=container] {
  text-align: center;
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  position: relative;
  color: rgb(255, 255, 255);
  width: 236px;
  height: 40px;
  line-height: 38px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    transform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 15px;
}
.btn-two::before{
  
  left: 4px;
  z-index: 1;
  
  opacity: 0;
  background: rgba(252, 217, 20, 0.603);
  transform: scale(0.1, 1);
}
.btn-two:hover::before {
  
  opacity: 1;
  
  transform: scale(1, 1);
}
.btn-two::after {
  
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

.btn-one::before {
  
  content: "Выйти";
  left: 4px;
  z-index: 1;
  
  opacity: 0;
  background: rgba(252, 74, 20, 0.603);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-one:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

/*-----Фильтры------*/
.filter-button-open {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #666666;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  top: 35%;
  left:38%;
}
.filter-button-open:hover > .qestion-btn {
  background: white;
  color: black;
}
.qestion-btn {
  color: #eeeeee;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
  text-decoration:none;
}
.qestion-btn > i {
  font-size: 20px;
}
.show {display: block;}

.container-buttons {
  display: flex;
  justify-content: space-around;
}
/*Стили для кнопок фильтра*/
.filterButton {
  text-align: center;
  cursor: pointer;
  width: 250px;
  height: 40px;
  margin: 5px;
  border-radius: .5rem;
  /* border: 1px solid rgb(34, 32, 32);
  background-color: var(--primary-color);
  color: var(--white); */
  background:#d1a71c;
  border-bottom: 4px solid #2c2c2c;
  color: rgb(39, 39, 39);
  font-size: 1.1rem;
  outline: none;
}
.filterButton:hover{
  color: white;
  background:black;
}
.active{
  color: white;
  background:black;
}
/*Стили для кнопок фильтра*/

/*---Тест формы фильтров---*/
.formFilter {
  display: none;
  position: fixed;
  /* bottom: 50px; */
  /* right: 15px; */
  color: #212121;
  width: 330px;
  height: 500px;
  border-radius: 20px;
  z-index: 7;
  
  
}

label:after {
  color: white;
  right: 4px; 
  top:25px;
  padding: 0 0 5px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
}
label:before {

  right: 6px; 
  top:25px;
  width: 20px; 
  height: 20px;
  background: #eee;
  position: absolute;
  pointer-events: none;
  display: block;
}


.decor {
  position: relative;
  max-width: 200px;
  margin: auto auto auto;
  opacity:1;
  border:solid black ;
  border-radius: 30px;
}

.form-inner {
  padding: 30px;
}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: black;
}
/*---Тест формы фильтров---*/


/*--------------*/
.site-name{
    margin-top: 20%;
    text-align: center
}


/*поле поиска*/
.search-box {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #666666;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box > .search-txt {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: white;
    color: black;
}
.search-btn {
    color: #eeeeee;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration:none;
}
.search-btn > i {
    font-size: 20px;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

/*форма отправки обратной связи*/
.form-wrap {
    display: none;
    position: fixed;
    /* bottom: 50px; */
    /* right: 15px; */
    color: #212121;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    z-index: 7;
    
    
  }

select {
    width: 140px;
    height: 35px;
    padding: 10px;
    left: auto;
    right: auto;
    border-radius:16px;
    box-shadow: 2px 2px 8px #999;
    background: #E9EFF6;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

label:after {
    color: white;
    right: 4px; 
    top:25px;
    padding: 0 0 5px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}
label:before {

    right: 6px; 
    top:25px;
    width: 20px; 
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
}


.decor {
    position: relative;
    max-width: 350px;
    margin: auto auto auto;
    opacity:1;
    border:solid black ;
    border-radius: 30px;
  }
  
  .form-inner {
    padding: 30px;
  }
  .form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 5px 5px;
    margin-bottom: 10px;
    background: #f6cf4e;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
  }
  #submitFormButton{
    width: 250px;
    height: 50px;
    margin-top: 25px;
    background: #161616;
    border-bottom: 4px solid #2c2c2c;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 2.5%;
  }
  .form-inner input[type="submit"] {
    margin-top: 25px;
    background: #161616;
    border-bottom: 4px solid #2c2c2c;
    color: white;
    font-size: 14px;
    margin-left: 2.5%;
  }
  .form-inner textarea {
    resize: none;
  }
  .form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: black;
  }
      
/*кнопка для вызова формы*/
.qestion-button {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #666666;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    bottom: 47.2%;
    left: 35.1%;
}
.qestion-button:hover > .qestion-btn {
    background: white;
    color: black;
}
.qestion-btn {
    color: #eeeeee;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration:none;
}
.qestion-btn > i {
    font-size: 20px;
}
/*кнопка для закрытия кнопки*/
.close-button {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #666666;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    bottom: 47.2%;
    left: 35.1%;
}
.close-button:hover > .close-btn {
    background: red;
    color: black;
}
.close-btn {
    color: #eeeeee;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration:none;
}
.close-btn > i {
    font-size: 20px;
}


.elastic li.visible{
    display:block;
}
.elastic li.hide{
    display:none;
}
.tableContainer{
  border: 1;
}

.data{
  margin: 0 -5px;
  position: absolute;
  margin-bottom: 25px;
  top: 42%;
  left: 24%;
  align-items:center;
  text-align: center;
}
.data button{
  right: -3%;
  margin: 0 4px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 45px;
  min-width: 500px;
  max-width: 698px;
  max-height: 90px;
  width: 698px;
  margin-right: 15px;
  border: 1;
  border-top-left-radius:8px;
  border-top-right-radius:25px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  margin-bottom: 3px;
  padding-right: 30px;
  background: #585858;
  color: white;
  font-size: 15px;
}
pre{
  position: relative;
  font-size: 1.2em;
  margin-left:9%;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  margin-top: -3px;
  margin-bottom: 1%;
  /* min-width: 699px; */
  max-width: 699px;
  min-height: 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  text-align:center;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: #7e7d7d;
  color: white;
}
#imageInContainer{
  height: 25%;
  width: 25%;
  margin-right: 10px;
  object-fit: contain;
  transition: 1s;
  
}
#imageInContainer:hover{
  z-index: 999999999;
  height: 70%;
  width: 70%;
  padding: 10px;
}
.listView{
  justify-content: center;
  width: 820px;
  height: 400px;
  overflow-y: auto;
}
::-webkit-scrollbar{
  width: 12px;
  
}
::-webkit-scrollbar-thumb{
  background-color: #666666;
  border-radius: 20px;
  border: 3px
}
::-webkit-scrollbar-track{
  border-radius: 20px;
  
}
.hidden {
  display: none;
}
/*робот*/
#robot {
  position: absolute;
  top: 37.5%;
  left: 35.1%;
  transform: translate3d(-50%,-50%,0);
  max-width: 15vw;
  max-height: 15vh;
  margin: 0 auto;
}

#body{
		animation:hover 1.1s ease-in-out 0s infinite alternate}

		#head{
		animation:hover 1.1s ease-in-out 0.05s infinite alternate}

		#arms{
		animation:hover 1.1s ease-in-out 0.1s infinite alternate}

		#left_arm{
		transform-origin:center right; 
		animation:arms_bounce_left 1.1s ease-in-out 0s infinite alternate}

		#right_arm{
		transform-origin:center left; 
		animation:arms_bounce_right 1.1s ease-in-out 0s infinite alternate}

		#eyes ellipse{
		transform-origin:center center; 
		animation:eyes_blink 2s ease-out 0s infinite alternate}

		#shadow{
		transform-origin:center center; 
		animation:shadow 1.1s ease-in-out 0s infinite alternate}



@keyframes hover { 
    0% { transform: translate3d(0, 80px,0) }
    100% { transform: translate3d(0,30px,0) }
}
@keyframes shadow { 
    0% {
        transform: translate3d(0,0,0) scale(1.5,1.2);  
        opacity: 0;
    }
    100% {
        transform: translate3d(0,0,0) scale(1,1);
        opacity: 0;
    }
}
@keyframes arms_bounce_left { 
    0% { transform: translate3d(0, 80px,0)rotate(0deg) }
    100% { transform: translate3d(0,30px,0)rotate(-10deg) }
}
@keyframes arms_bounce_right { 
    0% { transform: translate3d(0, 80px,0)rotate(0deg) }
    100% { transform: translate3d(0,30px,0)rotate(10deg) }
}
@keyframes eyes_blink { 
    0% { transform: scale(1,1) }
    90% { transform: scale(1,1) }
    95% { transform: scale(0.8,0) }
    100% { transform: scale(1,1) }
}


@media screen and (min-width:768px ) {
  .data{
    top: 42%;
    left: 25%;
  }
  #robot{
    top: 28%;
    left: 27%;
    max-width: 11vw;
    max-height: 11vh;
  }
  .qestion-button,.close-button{
    top: 35%;
    left: 27%;
  }
  .search-box{
    top: 35%;
    left: 50%;
  }
  .filter-button-open{
    top: 35%;
    left: 32.5%;
  }
  .form-wrap{
    bottom: 7%;
    right: 2%;
  }
  .formFilter{
    bottom: 2%;
    left: 2%;
  }
  .col-2 {
    margin-top:30px;
    margin-left: 45%;
    height: 80%;
  }
  
  .col-1 {
    margin-top:30px;
    left: 20px;
    height: 80%;
  }
}

@media screen and (min-width:1024px ) {
  .data{
    top: 42%;
    left: 25%;
  }
  #robot{
    top: 28%;
    left: 29%;
    max-width: 11vw;
    max-height: 11vh;
  }
  .qestion-button,.close-button{
    top: 35%;
    left: 29%;
  }
  .search-box{
    top: 35%;
    left: 50%;
  }
  .filter-button-open{
    top: 35%;
    left: 34.5%;
  }
  .form-wrap{
    bottom: 7%;
    right: 2%;
  }
  .formFilter{
    bottom: 2%;
    left: 2%;
  }
  .col-2 {
    margin-top:30px;
    margin-left: 50%;
    height: 80%;
  }
  
  .col-1 {
    margin-top:30px;
    left: 20px;
    height: 80%;
  }
}

@media screen and (min-width:1440px ) {
  .data{
    top: 42%;
    left: 25%;
  }
  #robot{
    top: 28%;
    left: 31%;
    max-width: 11vw;
    max-height: 11vh;
  }
  .qestion-button,.close-button{
    top: 35%;
    left: 31%;
  }
  .search-box{
    top: 35%;
    left: 50%;
  }
  .filter-button-open{
    top: 35%;
    left: 36.5%;
  }
  .form-wrap{
    bottom: 7%;
    right: 2%;
  }
  .formFilter{
    bottom: 2%;
    left: 2%;
  }
  .col-2 {
    margin-top:30px;
    margin-left: 55%;
    height: 80%;
  }
  
  .col-1 {
    margin-top:30px;
    left: 20px;
    height: 80%;
  }
}

@media screen and (min-width:1920px ) {
  .data{
    top: 42%;
    left: 25%;
  }
  #robot{
    top: 28%;
    left: 33%;
    max-width: 11vw;
    max-height: 11vh;
  }
  .qestion-button,.close-button{
    top: 35%;
    left: 33%;
  }
  .search-box{
    top: 35%;
    left: 50%;
  }
  .filter-button-open{
    top: 35%;
    left: 38%;
  }
  .form-wrap{
    bottom: 7%;
    right: 2%;
  }
  .formFilter{
    bottom: 2%;
    left: 2%;
  }
  .col-2 {
    margin-top:30px;
    margin-left: 60%;
    height: 80%;
  }
  
  .col-1 {
    margin-top:30px;
    left: 20px;
    height: 80%;
  }
}

@media screen and (min-width:2560px ) {
  .data{
    top: 42%;
    left: 25%;
  }
  #robot{
    top: 28%;
    left: 33%;
    max-width: 11vw;
    max-height: 11vh;
  }
  .qestion-button,.close-button{
    top: 35%;
    left: 33%;
  }
  .search-box{
    top: 35%;
    left: 50%;
  }
  .filter-button-open{
    top: 35%;
    left: 38%;
  }
  .form-wrap{
    bottom: 7%;
    right: 2%;
  }
  .formFilter{
    bottom: 2%;
    left: 2%;
  }
  .col-2 {
    margin-top:30px;
    margin-left: 60%;
    height: 80%;
  }
  
  .col-1 {
    margin-top:30px;
    left: 20px;
    height: 80%;
  }
}

@media screen and (min-width:3840px ) {
  .data{
    top: 42%;
    left: 25%;
  }
  #robot{
    top: 28%;
    left: 33%;
    max-width: 11vw;
    max-height: 11vh;
  }
  .qestion-button,.close-button{
    top: 35%;
    left: 33%;
  }
  .search-box{
    top: 35%;
    left: 50%;
  }
  .filter-button-open{
    top: 35%;
    left: 38%;
  }
  .form-wrap{
    bottom: 7%;
    right: 2%;
  }
  .formFilter{
    bottom: 2%;
    left: 2%;
  }
  .col-2 {
    margin-top:30px;
    margin-left: 60%;
    height: 80%;
  }
  
  .col-1 {
    margin-top:30px;
    left: 20px;
    height: 80%;
  }
}

